{{> head }}
{{> navbar }}
    <div  class="row">
        <div class="col-8">
            <h1>Ser el mejor</h1>
            <p> Para ser el mejor debes de creer en ti cuando nadie lo hace</p>
        </div>
        <div class="col-4">
            <img src="assets/img/ser-el-mejor.png" class="img-thumbnail">
        </div>
    </div>    
{{> footer }}